.disable-inspect * {
    user-select: none;
}
.cl .cl-header {
    background-color: #ebebeb;
    color: var(--main-color);
}
.cl-header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #ebebeb;
    color: var(--main-color);
    min-height: 40px;
}

.cl-header .task-button {
    width: 30px;
    text-align: center;
}
.cl-header .task-button a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    min-height: 30px;
}
.cl-header a {
    color: var(--main-color);
}
.cl .cl-header .task-name {
    font-size: 16px;
    font-weight: 600;
}
.cl-header .task-name {
    width: calc(100% - 30px);
    padding: 10px 10px 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cl .cl-header .task-name {
    font-size: 16px;
    font-weight: 600;
}
.cl-header .task-list-select {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 0;
}

.cl-header .task-list-select ul {
    display: inline-block;
    padding: 0 5px;
}
.cl .task-list-select ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.cl .task-list-select ul li {
    border-radius: 3px;
    border: 1px solid #65656d;
    height: 30px;
    width: 30px;
    min-width: 22px;
    cursor: pointer;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    font-size: 13px;
    transition: all 300ms;
    font-weight: 600;
}
.cl .task-list-select ul li:hover,
.cl .task-list-select ul li.active {
    color: #fff;
    background-color: #2c31cf;
    border-color: #2c31cf;
}
.cl-icon-check:before {
    content: "";
}
[class^="cl-icon-"]:before,
[class*=" cl-icon-"]:before {
    font-family: "codelearn-font";
    font-style: normal;
    font-weight: normal;
    speak: never;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    font-size: 120%;
}
.cl .menu li #total-comments-count {
    position: absolute;
    top: 5px;
    left: 33px;
    background: #2c31cf;
    color: #fff;
    padding: 2px 4px;
    font-size: 10px;
}
/* ======================================================= */
.cl-task-main-content {
    display: flex;
    /* flex-wrap: wrap; */
}
.cl-task-main-content {
    --bg-block-heading: #232432;
    --border-color: #3b3c54;
    --sec-bg-block: #3b3c54;
}
.ui-resizable {
    position: relative;
}
.cl .menu {
    background-color: #ebebed;
    height: 100%;
    width: 60px;
    float: left;
    padding: 0;
    margin: 0;
}
.cl .menu li {
    list-style: none;
    padding: 0;
    margin: 0 0 5px 0;
    width: 100%;
}
.cl .menu a {
    position: relative;
    text-decoration: none;
    cursor: pointer;
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45px;
    font-size: 22px;
    transition: all 300ms;
}
.cl .menu li.active a,
.cl .menu li a:hover {
    background: #2c31cf;
    color: #fff;
}
.cl .tab-content {
    padding: 10px 10px 10px;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100%);
    border: 1px solid #d8d8d8;
    float: left;
    height: 100%;
}
.cl .tab-content {
    overflow: auto;
}
.cl .tab-content #pnCLTabContent {
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
}
.cl .list-view-status {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0;
}
.cl .task-level {
    display: inline-block;
    margin-right: 15px;
}
.cl .task-level:first-child {
    margin-left: 0;
}
.cl #task-owner {
    position: relative;
    top: 1px;
}
.cl #task-owner i {
    font-weight: bold;
    margin-right: 10px;
}
.cl #task-owner a {
    color: #4d96ff;
}
.cl #task-level.easy {
    background-color: #7bc043;
}
.cl-task-main-content img {
    max-width: 100%;
    height: auto;
}
.cl #task-point img {
    position: relative;
    top: -1px;
    margin-right: 5px;
}
.cl .task-level {
    display: inline-block;
    margin-right: 15px;
}
.cl .task-level:first-child {
    margin-left: 0;
}
.cl #task-limit-code {
    color: #898989;
}
.description-code-content {
    margin-bottom: 50px;
}
/* ================================= */
.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    z-index: 99999;
    display: block;
}
.ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%;
}
.cl .ui-resizable-e p {
    font-size: 12px;
    background-color: #ff0;
    border-radius: 100%;
    padding: 18px;
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 15%);
    background: #fff;
    color: #666;
    cursor: pointer;
    margin-left: -15px;
}
.ti-arrows-horizontal:before {
    content: "\e658";
}

/* ====================================================== */
.code-panel-right {
    position: relative;
    padding-bottom: 45px;
    background: #1e1f26;
}
.cl .input-header,
.cl .cl-wrap-task-footer {
    background-color: #232432;
    padding: 0 10px;
}
.cl .left-menu {
    min-height: 45px;
    padding-left: 0;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cl .left-menu li {
    list-style: none;
}
.cl .left-menu .reset {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    background-color: #3b3c54;
    border-radius: 3px;
    padding: 5px 10px;
}
.ti-reload:before {
    content: "\e619";
}
.cl .left-menu span {
    margin-left: 5px;
}
.cl .code-input {
    overflow: hidden;
    width: 100%;
    height: 500px;
}
.quiz-container {
    min-height: 100%;
    display: flex;
    vertical-align: middle;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.quiz-container .list {
    margin: 10px 11px 50px 23px;
    width: 100%;
}
.quiz-container .list ul {
    padding: 0;
    margin: 0;
}

.quiz-container .list li .select,
.quiz-container .list li .content {
    position: relative;
    display: block;
    float: left;
}
.quiz-container .list li .select {
    min-width: 18px;
    margin-right: 18px;
    user-select: none;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="checkbox"],
input[type="radio"] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}
.quiz-container .list li .select input[type="checkbox"],
.quiz-container .list li .select input[type="radio"] {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    z-index: 1;
}
.quiz-container .list li .select .checkmark {
    position: absolute;
    border: 2px solid yellow;
    background: transparent;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
}
.quiz-container .list ul > li {
    list-style: none;
    background-color: #2d313e;
    padding: 30px 40px 20px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 60%);
    -webkit-box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
    border-radius: 3px;
    display: inline-block;
    width: 100%;
    cursor: pointer;
}
.quiz-container .list li .select input[type="radio"] ~ .checkmark {
    border-radius: 50%;
}
.quiz-container .list li .select,
.quiz-container .list li .content {
    position: relative;
    display: block;
    float: left;
}
.quiz-container .list li .content {
    left: 36px;
    margin-right: 30px;
}
.quiz-container .list ul > li:hover,
.quiz-container .list ul > li:focus,
.quiz-container .list ul > li.selected {
    color: #1e1f26;
    font-weight: 600;
    background-color: yellow;
}
.quiz-container .list ul > li:hover .checkmark {
    border: 2px solid #fff;
}

.button-back {
    cursor: pointer;
    text-decoration: none;
    /* background-color: #3b3c54; */
    border-radius: 3px;
    padding: 5px 10px;
    /* margin-left: 10px; */
}

@media (min-width: 768.98px) {
    .cl-header .task-button {
        width: 60px;
        height: 40px;
    }
    .cl-header .task-name {
        width: calc(25% - 60px);
    }
    .cl-header .task-list-select {
        width: 50%;
        border: none;
    }
    .cl-header .task-list-select ul {
        justify-content: center;
    }
    .code-panel-left,
    .code-panel-right {
        width: 50%;
    }
}
@media (min-width: 576.98px) {
    .cl .list-view-status {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .left-view-status,
    .right-view-status {
        width: auto;
    }
    .left-view-status .task-level {
        max-width: 50%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .right-view-status {
        text-align: right;
    }
}
