.ant-layout-sider,
.ant-menu-item,
.ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  /* background-color: #343058; */
  background-color: #1e1e2d;
  color: #ffffff;
  /* background: linear-gradient(#1f1f47 -18.72%, #1f1f47 17.6%); */
}
.bg-content {
  /* background: rgba(58, 47, 88, 0.8); */
  /* background: linear-gradient(189.16deg, rgb(144, 118, 231) 13.57%, rgb(67, 22, 219) 98.38%); */
  /* background: #e4e6ef; */
  color: #3f4254;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  /* background: #252342; */
  background-color: #1b1b28;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected span svg,
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected i {
  color: #3699ff;
}
